.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main h1,
.main h2,
.main h3 {
  font-family: var(--font-playfair);
}

.project {
  display: flex;
  width: 100vw;
}

.project:nth-child(odd) {
  flex-direction: row-reverse;
}

.project:nth-child(even) {
  flex-direction: row;
}

.project.left {
  flex-direction: row-reverse;
}

.project h1,
.project h2,
.project h3 {
  color: var(--accent1)
}

.project h4 {
  color: var(--accent2)
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 70px;
  max-width: 500px;
}

.headerLogo {
  width: 100vw;
  height: auto;
  padding-bottom: 50px;
}

.footer {
  width: 100vw;
  height: auto;
}

.project {
  margin-top: 50px;
  margin-bottom: 50px;
}

.project img {
  width: 50vw;
  height: auto;
  aspect-ratio: 3/2 auto;
}

/* mobile */
@media (max-width: 900px) {
  .main {
    padding: 20px;
  }

  .project:nth-child(odd) {
    flex-direction: column;
    align-items: center;
  }

  .project:nth-child(even) {
    flex-direction: column;
    align-items: center;
  }

  .project img {
    width: 100vw;
    height: auto;
    aspect-ratio: 3/2 auto;
  }

  .description {
    margin: 12px;
  }
}
