.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.main h1,
.main h2,
.main h3,
.main h4 {
  font-family: var(--font-playfair);
}

.project h1,
.project h2,
.project h3,
.project h4 {
  color: var(--accent1)
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  background-color: var(--accent2);
}

.headerLogo {
  max-width: 90vw;
  margin-top: 100px;
}

.project {
  margin-top: 50px;
  margin-bottom: 50px;
}

.project img {
  width: 50vw;
  height: auto;
  aspect-ratio: 3/2 auto;
}

/* mobile */
@media (max-width: 700px) {
  .main {
    padding: 20px;
  }

  .project img {
    width: 80vw;
    height: auto;
    aspect-ratio: 3/2 auto;
  }

}
